@page "/"
@using Trademark2024
@using Trademark2024.Data
@using Trademark2024.Services
@using Trademark2024.Shared.Enum
@using Trademark2024.Interface

@inject AppDbContext _dbContext
@inject HttpClient Http
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Http
@using System.Collections.Generic
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Inputs
@using System.ComponentModel.DataAnnotations
@using System.Threading.Tasks
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.SplitButtons
@using Syncfusion.Blazor.Cards
@using Syncfusion.Blazor.Popups
@using System.IO;

@inject AppDbContext _dbContext
@inject NavigationManager NavigationManager
@inject ITrademarkInformationRepository _trademarkInformationrepository
@inject IApplicantInformationRepository _applicantInformationrepository
@inject IClaimConventionPropertyRepository _claimconventionpropertyrepository
@inject IResidentAgentInformationRepository _residentagentinformationrepositroy

@inject ICountriesRepository _countriesrepository
@inject IStatesRepository _statesrepository
@inject ICitiesRepository _citiesrepository
@inject INationalitiesRepository _nationalityrepository

@inject IGoodsClassRepository _goodsclassrepository
@inject IServicesClassRepository _servicesclassrepository

@inject IJSRuntime jsRuntime
@inject NavigationManager NavigationManager

<PageTitle>Trademark - Trademark Application</PageTitle>

<div class="row pt-3">
    <div class="col-10 container-fluid d-flex">
            <div class="card card-main shadow">
                <div class="card-header title-tm">
                    TRADEMARK APPLICATION - IPOPHL Form 400
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="row">
                            @foreach (var button in buttons)
                            {
                                <div class="col-3">
                                    <button type="button"
                                        @onclick="() => ActivateButton(button)"
                                        class="btn shadow p-3 mb-5 rounded @(button.IsActive ? "active" : "") d-flex justify-content-center">
                                        <div class="tmsection">@button.Label</div>
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                    @if (infoTrademark)
                    {
                    //type of mark
                        <div class="row d-flex">
                            <div class="tm-info-tle1">TRADEMARK INFORMATION</div>
                            <div class="subtitle pt-1">Type of Mark</div>
                            <div class="fst-italic subtext">
                                Kindly specify what type of Mark are you applying for:
                            </div>
                            <div class="row d-flex justify-content-center">
                                @foreach (MarkType markType in Enum.GetValues(typeof(MarkType)))
                                {
                                    @if (markType != MarkType.None)
                                    {
                                        <div class="col-2 pt-2">
                                            <button class="@GetButtonClass(markType) marktype-button shadow p-3 mb-5 rounded"
                                                    @onclick="() => SelectMarkType(markType)">
                                                <div class="row">
                                                    <div class="card-img">
                                                        <img class="img-tm d-inline-block align-text-top"
                                                             src="@GetMarkTypeImagePath(markType)"
                                                             alt="@GetMarkTypeAltText(markType)"
                                                             loading="lazy" />
                                                    </div>
                                                    <div class="@GetTypeTitleClass(markType)">@GetMarkTypeTitle(markType)</div>
                                                    <div class="@GetTypeTextClass(markType)">@GetMarkTypeDescription(markType)</div>
                                                </div>
                                            </button>
                                        </div>
                                    }
                                }
                            </div>


                        </div> <!--end div for type of mark-->
                    <!--Trademark Information-->
                    @if (selectedMarkType.HasValue && selectedMarkType != MarkType.None)
                    { 
                        <div class="row pt-3">
                            <div class="row">
                                <div class="col form-txt text-end">
                                        <label for="checked" class="me-2">Claiming convention priority?</label>
                                        <SfSwitch @bind-Checked="isChecked"></SfSwitch>
                                </div>
                                
                                @code {
                                    private bool isChecked = false;
                                }
                            </div><!--end of claim of convention property yes/no-->
                        </div>
                        <div class="row">
                            <div class="form-txt">
                                <div class="row">
                                    <div class="col form-floating mb-2">
                                        <InputText @bind-Value="TrademarkInfo.Title" placeholder="Title of the Mark" class="form-control" id="markTitle" required />
                                        <label class="ms-2" for="markTitle">Title of the Mark</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col form-floating mb-2">
                                        <InputText @bind-Value="@TrademarkInfo.ClaimColors" placeholder="Claim of Colors" class="form-control" id="claimColors" required />
                                        <label class="ms-2" for="claimColors">Claim of Colors</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col form-floating mb-2">
                                        <InputText @bind-Value="@TrademarkInfo.TranslationTransliteration" placeholder="Translation/Transliteration" class="form-control" id="translation" required />
                                        <label class="ms-2" for="translation">Translation/Transliteration</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col form-floating mb-2">
                                        <InputText @bind-Value="@TrademarkInfo.Disclaimer" placeholder="Disclaimer" class="form-control" id="claimColors" required />
                                        <label class="ms-2" for="claimColors">Disclaimer</label>
                                    </div>
                                </div>
                                <div clas="row">
                                    <div class="col">
                                       
                                    </div>
                                    
                                </div>
                                <div class="card shadow">
                                        @if (isChecked)
                                        {
                                            <div class="row p-3">
                                            <div class="row ps-2 pt-2 form-txt">Claim of Convention Priorities</div>
                                                <div class="row">
                                                    <div class="form-floating ms-2 me-2 mt-2 form-txt">
                                                            <SfTextBox Placeholder="Prior Foreign Application No." FloatLabelType="FloatLabelType.Auto" @bind-Value="@CCPInfo.PriorForeignApplicationNo"></SfTextBox>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-floating ms-2 me-2 mt-2 form-txt">
                                                            <SfDatePicker TValue="DateTime?" Placeholder="Foreign Filing Date" @bind-Value="@CCPInfo.DateValue"></SfDatePicker>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="ms-2 me-2 mt-2 form-txt">
                                                        <SfDropDownList TValue="int?" TItem="Countries" Placeholder="Select Country of Residence" DataSource="@countriesinformation" TValueExpression="(Func<Countries, int>)(e => e.Id)"
                                                                        TextExpression="(Func<Countries, string>)(e => e.countries)" @bind-Value="@CCPInfo.CCPCountry">
                                                            <DropDownListFieldSettings Text="CountryName" Value="Id"></DropDownListFieldSettings>
                                                        </SfDropDownList>
                                                    </div>
                                                </div>
                                            </div>
                                            @foreach (var priority in claimingConventionPriorities)
                                            {
                                                <div class="row p-3">
                                                    <div class="row">
                                                        <div class="form-floating ms-2 me-2 mt-2">
                                                            <SfTextBox Placeholder="Prior Foreign Application No." FloatLabelType="FloatLabelType.Auto" @bind-Value="@CCPInfo.PriorForeignApplicationNo"></SfTextBox>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-floating ms-2 me-2 mt-2">
                                                            <SfDatePicker TValue="DateTime?" Placeholder="Foreign Filing Date" @bind-Value="@CCPInfo.DateValue"></SfDatePicker>
                                                        </div>
                                                    </div>
                                                    <div class="row pt-3">
                                                        <SfDropDownList TValue="int?" TItem="Countries" Placeholder="Country" DataSource="@countriesinformation" TValueExpression="(Func<Countries, int>)(e => e.Id)"
                                                                        TextExpression="(Func<Countries, string>)(e => e.countries)" @bind-Value="@CCPInfo.CCPCountry">
                                                            <DropDownListFieldSettings Text="CountryName" Value="Id"></DropDownListFieldSettings>
                                                        </SfDropDownList>
                                                    </div>
                                                </div>
                                            }
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-floating m-2">
                                                        <button class="btn btn-primary" @onclick="AddBatch">+</button>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                </div>
                            </div>
                        </div> <!--end of Trademark Information-->
                        }
                    }
                    else if (goodsServices && selectedMarkType.HasValue && selectedMarkType != MarkType.None)
                    {
                        //Goods and Services
                        <div class="row d-flex">
                            <div class="row d-flex">
                                <div class="tm-info-tle2">GOODS AND SERVICES</div>
                            </div>

                            <div class="row pt-2">
                                <div class="col-6">
                                    <label class="form-txt fst-italic">Select (Goods) Class</label>
                                    <SfMultiSelect Placeholder="(Goods) Class" DataSource="@goodsinformation" TValueExpression="(Func<GoodsClass, string>)(e => e.GoodsClassItem)"
                                        TextExpression="(Func<GoodsClass, string>)(e => e.GoodsClassItem)" EnableGroupCheckBox="true" @bind-Value="@GoodsServicesInfo.GoodsClassId">
                                        <MultiSelectFieldSettings Text="GoodsClassItem" Value="GoodsClassItem"></MultiSelectFieldSettings>
                                    </SfMultiSelect>
                                </div>
                                <div class="col-6">
                                    <label class="form-txt fst-italic">Select (Services) Class</label>
                                    <SfMultiSelect Placeholder="(Services) Class" DataSource="@servicesinformation" TValueExpression="(Func<ServicesClass, string>)(e => e.ServicesClassItem)"
                                        TextExpression="(Func<ServicesClass, string>)(e => e.ServicesClassItem)" EnableGroupCheckBox="true" @bind-Value="@GoodsServicesInfo.ServiceClassId">
                                        <MultiSelectFieldSettings Text="ServicesClassItem" Value="ServicesClassItem"></MultiSelectFieldSettings>
                                    </SfMultiSelect>
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col-6 form-txt pt-3 ps-3 pe-3">
                                
                                    @foreach (var goodsClass in goodsinformation)
                                    {   
                                        foreach(var goodsClassItem in GoodsServicesInfo.GoodsClassId)
                                        {
                                            if (goodsClassItem == goodsClass.GoodsClassItem)
                                            {   
                                                <div class="form-txt fw-bold">Goods Class Classification</div>
                                                <div class="mt-1">@goodsClass.GoodsClassDescription</div>
                                            }
                                        }
                                    }
                                </div>
                                <div class="col-6 form-txt pt-1 ps-3 pe-3">
                                    @foreach (var servicesClass in servicesinformation)
                                    {
                                        foreach(var servicesClassItem in GoodsServicesInfo.ServiceClassId)
                                        {
                                            if (servicesClassItem == servicesClass.ServicesClassItem)
                                            {
                                                <div class="form-txt fw-bold">Services Class Classification</div>
                                                <div class="mt-1">@servicesClass.ServicesClassDescription</div>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div><!--end of Goods and Services-->
                        }
                    else if (applicantInfo && selectedMarkType.HasValue && selectedMarkType != MarkType.None)
                    {
                        <!--Applicant Information-->
                        <div class="row d-flex">
                            <div class="row d-flex">
                                <div class="row tm-info-tle1">APPLICANT INFORMATION</div>
                            </div>
                            <div class="row pt-2">
                                <div class="col-4">
                                    <label class="label-typeApplicant">What type of applicant are you?</label>
                                </div>
                                <div class="col-2 form-txt"><SfRadioButton Label="Individual" Name="applicantType" CssClass="e-primary" Value="Individual" @bind-Checked="stringChecked" @onclick="() => ToggleApplicantType(true)"></SfRadioButton></div>
                                <div class="col-2 form-txt"><SfRadioButton Label="Company / Corporation" Name="applicantType" CssClass="e-primary" Value="Company / Corporation" @bind-Checked="stringChecked" @onclick="() => ToggleApplicantType(false)"></SfRadioButton></div>
                                <div class="col-2 form-txt"><SfRadioButton Label="School" Name="applicantType" CssClass="e-primary" Value="School" @bind-Checked="stringChecked" @onclick="() => ToggleApplicantType(false)"></SfRadioButton></div>
                                <div class="col-2 form-txt"><SfRadioButton Label="Government" Name="applicantType" CssClass="e-primary" Value="Government" @bind-Checked="stringChecked" @onclick="() => ToggleApplicantType(false)"></SfRadioButton></div>
                            </div>
                            <div class="row pt-1">
                                <div class="col-3">
                                    <div class="form-floating form-txt mb-2">
                                        <InputText @bind-Value="@AppInfo.ApplicantLName" placeholder="Last Name" class="form-control" id="applicantLName" required />
                                        <label for="applicantFName">Last Name</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-floating form-txt mb-2">
                                        <InputText @bind-Value="@AppInfo.ApplicantFName" placeholder="First Name" class="form-control" id="applicantFName" required />
                                        <label for="applicantFName">First Name</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-floating form-txt mb-2">
                                                    <InputText @bind-Value="@AppInfo.ApplicantMName" placeholder="Middle Name" class="form-control" id="applicantMName" required />
                                    <label for="applicantMName">Middle Name</label>
                                    </div>
                                </div>
                                <div class="col-1 mt-2 form-txt">Sex</div>
                                <div class="form-txt col-2 mt-2">
                                    @foreach (GenderSelect gender in Enum.GetValues(typeof(GenderSelect)))
                                    {
                                        <div class="row">
                                        <label>
                                            <input type="radio" name="gender" @bind="@AppInfo.ApplicantGender" />
                                            @gender.ToString()
                                        </label>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="row pt-1">
                                <div class="col-3">
                                    <div class="form-floating form-txt mb-2">
                                        <InputText @bind-Value="@AppInfo.ApplicantPosition" placeholder="Applicant Position" class="form-control" id="applicantPosition"
                                        disabled="@isIndividualSelected" />
                                        <label for="applicantPosition">Applicant Position</label>
                                    </div>
                                </div>
                                <div class="col-7">
                                    <div class="form-floating form-txt mb-2">
                                        <InputText @bind-Value="@AppInfo.NameCompanyCorpGovASch" placeholder="Name of Company / Corporation / Government Agency / School" class="form-control" id="nameCompanyCorpGovASch"
                                        disabled="@isIndividualSelected" />
                                        <label for="nameCompanyCorpGovASch">Name of Company / Corporation / Government Agency / School</label>
                                    </div>
                                </div>
                                <div class="col-2 mt-2 form-txt">
                                    <label class="example-label">Company Entity</label>
                                    <SfDropDownList TItem="CompanyEntity" TValue="string" Placeholder="Select Company Entity" @bind-Value="@AppInfo.CompanyEntity" DataSource="@companyEntity" style="heugt">
                                        <DropDownListEvents TItem="CompanyEntity" TValue="string"/>
                                        <DropDownListFieldSettings Text="EntityName" Value="ID"/>
                                    </SfDropDownList>
                                </div>
                            </div>
                            <div class="row pt-1">
                                <div class="row">
                                    <div class="col-2 form-txt mb-2 mt-2">
                                        <select @onchange="UpdateFilteredStates" class="form-control" style="height: 58px;">
                                            <option value="" disabled selected>Country</option>
                                            @foreach (var country in countries)
                                            {
                                                <option value="@country.Id" class="form-txt">@country.CountryName</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-2 form-txt mb-2 mt-2">
                                        <select @onchange="UpdateFilteredCities" class="form-control" style="height: 58px;">
                                            <option value="" disabled selected>State</option>
                                            @foreach (var state in filteredStates)
                                                {
                                                    <option value="@state.Id" class="form-txt">@state.StateName</option>
                                                }
                                        </select>
                                    </div>
                                    <div class="col-2 form-txt mb-2 mt-2">
                                        <select class="form-control" style="height: 58px;" @onchange="UpdateSelectedCity">
                                            <option value="" disabled selected>City</option>
                                            @foreach (var city in filteredCities)
                                            {
                                                <option value="@city.Id"class="form-txt">@city.CityName</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-4 mt-2">
                                        <div class="form-floating form-txt mb-2">
                                            <InputText @bind-Value="@AppInfo.ApplicantAddress" placeholder="House No., Street Info, Village/Subdivision, Barangay" class="form-control" id="applicantAddress" required />
                                            <label for="applicantAddress">House No., Street Info, Village/Subdivision, Barangay</label>
                                        </div>
                                    </div>
                                    <div class="col-2 mt-2">
                                        <div class="form-floating form-txt mb-2">
                                            <InputText @bind-Value="@AppInfo.ApplicantZipCode" placeholder="Zip Code" class="form-control" id="applicantZipCode" required />
                                            <label for="applicantZipCode">Zip Code</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="input-group mt-2 mb-3">
                                        <span class="input-group-text" id="phone-icon">
                                        <i class="bi bi-telephone-fill"></i>
                                        </span>
                                        <InputText @bind-Value="@AppInfo.ApplicantMobNum" placeholder="Mobile Number" class="form-control form-txt" id="raMobNum" required />
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input-group mt-2 mb-3">
                                        <span class="input-group-text" id="email-icon">
                                        <i class="bi bi-envelope-fill"></i>
                                        </span>
                                        <InputText @bind-Value="@AppInfo.ApplicantEmailAdd" placeholder="Email Address" class="form-control form-txt" id="raEmailAdd" required />
                                    </div>
                                </div>
                                <div class="col mt-2">
                                    <div class="form-floating form-txt mb-2">
                                         <SfDropDownList TValue="int?" TItem="Nationalities" Placeholder="Select Nationality" DataSource="@nationalitiesinformation" TValueExpression="(Func<Nationality, int>)(e => e.num_code)"
                                                            TextExpression="(Func<Nationality, string>)(e => e.nationality)"@bind-Value="@AppInfo.ApplicantNationality">
                                                <DropDownListFieldSettings Text="nationality" Value="num_code"></DropDownListFieldSettings>
                                         </SfDropDownList>
                                    </div>
                                </div>
                            </div>
                        </div> <!--end of applicant information-->
                    }else if (residentAgent && selectedMarkType.HasValue && selectedMarkType != MarkType.None)
                    {
                        <!--RESIDENT AGENT / AUTHORIZED REPRESENTATIVE-->
                        <div class="row d-flex">
                            <div class="tm-info-tle2">RESIDENT AGENT / AUTHORIZED REPRESENTATIVE</div>
                            <div class="row pt-2">
                                <div class="col-4">
                                    <div class="form-floating form-txt mb-2">
                                        <InputText @bind-Value="@AgentInfo.RAgentNum" placeholder="Resident Agent No." class="form-control" id="raNum" required />
                                        <label for="raNum">Resident Agent No.</label>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-floating form-txt mb-2">
                                        <InputText @bind-Value="@AgentInfo.RAPosition" placeholder="Position" class="form-control" id="raPosition" required />
                                        <label for="raPosition">Position</label>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-floating form-txt mb-2">
                                        <InputText @bind-Value="@AgentInfo.FirmLaw" placeholder="Company Name (the Law Firm, if applicable)" class="form-control" id="raCompanyName" required />
                                        <label for="raCompanyName">Company Name (the Law Firm, if applicable)</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-1">
                                <div class="col-3">
                                    <div class="form-floating form-txt mb-2">
                                        <InputText @bind-Value="@AgentInfo.RALName" placeholder="Last Name" class="form-control" id="raFName" required />
                                        <label for="raFName">Last Name</label>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-floating form-txt mb-2">
                                        <InputText @bind-Value="@AgentInfo.RAFName" placeholder="First Name" class="form-control" id="raFName" required />
                                        <label for="raFName">First Name</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-floating form-txt mb-2">
                                        <InputText @bind-Value="@AgentInfo.RAMName" placeholder="Middle Name" class="form-control" id="raMName" required />
                                        <label for="raMName">Middle Name</label>
                                    </div>
                                </div>
                                <div class="col-1 mt-2 form-txt">Sex</div>
                                <div class="form-txt col-1 mt-2 align-content-start">
                                    @foreach (GenderSelect gender in Enum.GetValues(typeof(GenderSelect)))
                                    {
                                        <div class="row">
                                        <label>
                                            <input type="radio" name="gender" @bind="@AgentInfo.RAGender" />
                                            @gender.ToString()
                                        </label>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="row pt-1">
                                <div class="col">Complete Address</div>
                                <div class="row">
                                    <div class="col-2 form-txt mb-2 mt-2">
                                        <select @onchange="UpdateFilteredStatesRA" class="form-control" style="height: 58px;">
                                            <option value="" disabled selected>Country</option>
                                            @foreach (var country in countries)
                                            {
                                                <option value="@country.Id" class="form-txt">@country.CountryName</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-2 form-txt mb-2 mt-2">
                                        <select @onchange="UpdateFilteredCitiesRA" class="form-control" style="height: 58px;" >
                                            <option value="" disabled selected>State</option>
                                            @foreach (var state in filteredStates)
                                                {
                                                    <option value="@state.Id" class="form-txt">@state.StateName</option>
                                                }
                                        </select>
                                    </div>
                                    <div class="col-2 form-txt mb-2 mt-2">
                                    <select class="form-control" style="height: 58px;" @onchange="UpdateSelectedCityRA">
                                            <option value="" disabled selected>City</option>
                                            @foreach (var city in filteredCities)
                                            {
                                                <option value="@city.Id" class="form-txt">@city.CityName</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-4 mt-2">
                                        <div class="form-floating form-txt mb-2 text-wrap">
                                            <InputText @bind-Value="@AgentInfo.RAAddress" placeholder="House No., Street Info, Village/Subdivision, Barangay" class="form-control form-txt" id="applicantAddress" required/>
                                            <label for="applicantAddress">House No., Street Info, Village/Subdivision, Barangay</label>
                                        </div>
                                    </div>
                                    <div class="col-2 mt-2">
                                        <div class="form-floating form-txt mb-2">
                                            <InputText @bind-Value="@AgentInfo.RAZipCode" placeholder="Zip Code" class="form-control" id="applicantZipCode" required />
                                            <label for="applicantZipCode">Zip Code</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="input-group mt-2 mb-3">
                                        <span class="input-group-text" id="phone-icon">
                                            <i class="bi bi-telephone-fill"></i>
                                        </span>
                                        <InputText @bind-Value="@AgentInfo.RAMobNum" placeholder="Mobile Number" class="form-control form-txt" id="raMobNum" required />
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input-group mt-2 mb-3">
                                        <span class="input-group-text" id="email-icon">
                                            <i class="bi bi-envelope-fill"></i>
                                        </span>
                                        <InputText @bind-Value="@AgentInfo.RAEmailAdd" placeholder="Email Address" class="form-control form-txt" id="raEmailAdd" required />
                                    </div>
                                </div>
                                <div class="col mt-2">
                                    <div class="form-floating form-txt mb-2">
                                        <SfDropDownList TValue="int?" TItem="Nationalities" Placeholder="Select Nationality" DataSource="@nationalitiesinformation" TValueExpression="(Func<Nationality, int>)(e => e.num_code)"
                                                        TextExpression="(Func<Nationality, string>)(e => e.nationality)" @bind-Value="@AgentInfo.RANationality" style="height: 36px;">
                                            <DropDownListFieldSettings Text="nationality" Value="num_code"></DropDownListFieldSettings>
                                        </SfDropDownList>
                                    </div>
                                </div>
                            </div>
                        </div><!--end of resident agent-->
                        
                        <div class="card-footer footer-tm">
                            <SfButton CssClass = "e-outline" @onclick="@OpenOuterDialog">Submit and preview</SfButton>
                        </div>
                    }
                    
                </div>
            </div>
    </div>
    <!--
        <div class="col-2">
        <div class="row">
            <SfButtonGroup CssClass="e-btn-group e-vertical">
                <div class="form-row-title">Trademark External Links</div>
    @foreach (var button in buttonService.Sfbuttons)
    {
                    <SfButton IsPrimary="true" CssClass="e-flat" style="white-space: normal; text-align: left;" @onclick="() => OnButtonClicked(button.Label)">@button.Label</SfButton>
    }
            </SfButtonGroup>
        </div>
        <div class="row pt-3">
            <SfCard>
                <div class="form-row-title">Other Related Matters</div>
                <CardContent EnableSeparator="true"></CardContent>
                <CardContent>

                </CardContent>
            </SfCard>
        </div>
    </div>
    -->
    
</div>

<SfDialog Width="500px" ShowCloseIcon="true" IsModal="true" @bind-Visible="@IsOuterDialogVisible">
    <DialogTemplates>
        <Header>IPOPHL PRIVACY STATEMENT AS PER RA 10173 ALSO KNOWN AS "DATA PRIVACY ACT OF 2012"</Header>
        <Content>
            <div class="submit-preview-modal text-wrap">
                By clicking the "I Agree" button", I understand that I am giving consent to the collection, storage, sharing and other necessary processing of the personal information contained in this application, freely and voluntarily, to the Intellectual Property Office of the Philippines (IPOPHL) and its partners, in the exercise of its mandate as the lead government agency for the protection of IP rights and in compliance with the provisions of RA 10173, also known as, the Data Privacy Act of 2012.
            </div>
            <div class="mt-5"></div>
            <DialogFooter>
                <SfButton @onclick="@OpenInnerDialog">I Agree</SfButton>
            </DialogFooter>
            @if (IsInnerDialogVisible)
            {
                <SfDialog Width="500px" ShowCloseIcon="true" IsModal="true" @bind-Visible="@IsInnerDialogVisible">
                    <DialogTemplates>
                        <Header>IMPORTANT REMINDERS</Header>
                        <Content>
                            <div class="submit-preview-modal text-wrap">
                                Pursuant to Section 124.2 and Section 145 of R.A. 8293 and the Trademark Regulations:<br />
                                1. The applicant or the registrant shall file DECLARATION OF ACTUAL USE (DAU) of the mark with evidence to that effect, as prescribed by the Regulations within three (3) years from the filing date of application. Otherwise, the application shall be REFUSED or the mark shall be REMOVED from the Register by the Director.<br />
                                2. A certificate of registration shall remain in force for ten (10) years; provided, that the registrant shall file a DAU to that effect, or shall show valid reasons based on the existence of obstacles to such use, as prescribed by the Regulations, within one (1) year from the fifth (5th) anniversary of the date of registration, otherwise, the mark shall be REMOVED from the Register by the Office.<br />
                                3. A Renewal DAU must be filed within one (1) year from the date of renewal of the registration, otherwise, the mark shall be removed from the Register.
                           </div>
                            <div class="mt-5"></div>
                            <DialogFooter>
                                <SfButton @onclick="@SaveInfo">I understand</SfButton>
                                <SfButton Content="Cancel" @onclick="@CloseInnerDialog" />
                            </DialogFooter>
                        </Content>
                    </DialogTemplates>
                </SfDialog>
            }
        </Content>
    </DialogTemplates>
</SfDialog>

<!--tm sections: trademark information, goods and services, applicant information, and resident agent information-->
@code {
    private bool infoTrademark = false;
    private bool applicantInfo = false;
    private bool residentAgent = false;
    private bool goodsServices = false;

    private void InfoTrademark()
    {
        infoTrademark = true;
        applicantInfo = false;
        residentAgent = false;
        goodsServices = false;
    }
    private void ApplicantInfo()
    {
        infoTrademark = false;
        applicantInfo = true;
        residentAgent = false;
        goodsServices = false;
    }
    private void ResidentAgent()
    {
        infoTrademark = false;
        applicantInfo = false;
        residentAgent = true;
        goodsServices = false;
    }
    private void GoodsServices()
    {
        infoTrademark = false;
        applicantInfo = false;
        residentAgent = false;
        goodsServices = true;

        ActivateButton(buttons.FirstOrDefault(b => b.Label == "Goods and Services"));
    }

    public class ButtonInfo
    {
        public string Label { get; set; }
        public bool IsActive { get; set; }
    }

    private List<ButtonInfo> buttons = new List<ButtonInfo>
    {
        new ButtonInfo { Label = "Trademark Information"},
        new ButtonInfo { Label = "Goods and Services"},
        new ButtonInfo { Label = "Applicant Information"},
        new ButtonInfo { Label = "Resident Agent/ Authorized Representative" }
    };

    private void ActivateButton(ButtonInfo selectedButton)
    {
        foreach (var button in buttons)
        {
            button.IsActive = (button == selectedButton);
        }

        infoTrademark = selectedButton.Label == "Trademark Information";
        applicantInfo = selectedButton.Label == "Applicant Information";
        residentAgent = selectedButton.Label == "Resident Agent/ Authorized Representative";
        goodsServices = selectedButton.Label == "Goods and Services";
    }
}

<!--for dbcontext storing-->
<!--mark type conditions and selections-->
@code {
    TrademarkInformation TrademarkInfo { get; set; } = new TrademarkInformation();
    ClaimConventionProperty CCPInfo { get; set; } = new ClaimConventionProperty();
    GoodsServicesInformation GoodsServicesInfo { get; set; } = new GoodsServicesInformation();
    ApplicantInformation AppInfo { get; set; } = new ApplicantInformation();
    ResidentAgentInformation AgentInfo { get; set; } = new ResidentAgentInformation();



    private async Task SaveInfo()
    {
        // Close the modals
        IsInnerDialogVisible = false;
        IsOuterDialogVisible = false;



        // Convert to string
        TrademarkInfo.MarkType = selectedMarkType.ToString();

        AppInfo.ApplicantCountry = selectedCountryId;
        AppInfo.ApplicantState = selectedStateId;
        AppInfo.ApplicantCity = selectedCityId;

        AgentInfo.RACountry = selectedCityIdRA;
        AgentInfo.RACity = selectedCityIdRA;
        AgentInfo.RAState = selectedStateIdRA;

        // Add the objects to the DbContext
        _dbContext.TrademarkInformation.Add(TrademarkInfo);
        if (isChecked)
        {
            _dbContext.ClaimConventionProperty.Add(CCPInfo);
            await _dbContext.SaveChangesAsync();
            CCPInfo = new ClaimConventionProperty();
        }
        _dbContext.ResidentAgentInformation.Add(AgentInfo);
        _dbContext.ApplicantInformation.Add(AppInfo);
        _dbContext.GoodsServicesInformation.Add(GoodsServicesInfo);

       

        // Save changes to the database
        await _dbContext.SaveChangesAsync();

        // Reset the objects for a new entry
        TrademarkInfo = new TrademarkInformation();
        GoodsServicesInfo = new GoodsServicesInformation();
        AppInfo = new ApplicantInformation();
        AgentInfo = new ResidentAgentInformation();
    }

    private List<Countries> countriesinformation = new List<Countries>();
    private void RetrievedCountries()
    {
        countriesinformation = _countriesrepository.GetCountries();
    }

    private List<Nationalities> nationalitiesinformation;
    private void RetrievedNationalities()
    {
        nationalitiesinformation = _nationalityrepository.GetNationalities();
    }

    // Override the OnInitializedAsync lifecycle method to fetch data from the repository
    protected override async Task OnInitializedAsync()
    {
        RetrievedNationalities();
        RetrievedCountries();
        //RetrievedStates();
        //RetrievedCities();
        //await FetchGoodsIds();
        RetrievedServicesClass();
        RetrievedGoodsClass();
    }


    //for mark type
    public MarkType? selectedMarkType = null;


    private void SelectMarkType(MarkType markType)
    {
        if (selectedMarkType == markType)
        {
            selectedMarkType = null;
        }
        else
        {
            selectedMarkType = markType;
        }
    }

    private string GetButtonClass(MarkType markType)
    {
        if (selectedMarkType == markType)
        {
            return "btn btn-dark";
        }
        else
        {
            return "btn btn-light";
        }

    }

    private string GetTypeTitleClass(MarkType markType)
    {
        return selectedMarkType == markType ? "type-title dark-text" : "type-title light-text";
    }

    private string GetTypeTextClass(MarkType markType)
    {
        return selectedMarkType == markType ? "type-text dark-text" : "type-text light-text";
    }

    private string GetMarkTypeImagePath(MarkType markType)
    {
        if (markType == MarkType.None)
        {
            return "";
        }
        else
        {
            string imageName = "";

            switch (markType)
            {
                case MarkType.Word:
                    imageName = "tm-wm.png";
                    break;
                case MarkType.Figurative:
                    imageName = "tm-fm.png";
                    break;
                case MarkType.FigurativeWithWord:
                    imageName = "tm-fwm.png";
                    break;
                case MarkType.ThreeD:
                    imageName = "tm-dm.png";
                    break;
                case MarkType.Collective:
                    imageName = "tm-cm.png";
                    break;
            }
            return $"regisForm-img/{imageName}";
        }

    }

    private string GetMarkTypeAltText(MarkType markType)
    {
        return markType == MarkType.None ? "" : markType.ToString();
    }

    private string GetMarkTypeTitle(MarkType markType)
    {
        if (markType == MarkType.None)
        {
            return markType == MarkType.None ? "" : markType.ToString();
        }
        else
        {
            switch (markType)
            {
                case MarkType.Word:
                    return "Word Mark";
                case MarkType.Figurative:
                    return "Figurative Mark";
                case MarkType.FigurativeWithWord:
                    return "Figurative with Word Mark";
                case MarkType.ThreeD:
                    return "3D Mark";
                case MarkType.Collective:
                    return "Collective Mark";
                default:
                    return string.Empty;
            }
        }

    }

    private string GetMarkTypeDescription(MarkType markType)
    {
        if (markType == MarkType.None)
        {
            return markType == MarkType.None ? "" : markType.ToString();
        }
        else
        {
            switch (markType)
            {
                case MarkType.Word:
                    return "A word mark consists solely of words, letters, or numbers without any design elements.";
                case MarkType.Figurative:
                    return "A figurative mark includes designs, graphics, symbols, or images.";
                case MarkType.FigurativeWithWord:
                    return "A combination of figurative and word mark.";
                case MarkType.ThreeD:
                    return "A three-dimensional representation used as a trademark.";
                case MarkType.Collective:
                    return "A trademark owned by an organization used by its members to identify with a level of quality.";
                default:
                    return string.Empty;
            }
        }
    }
}

<!--for modal on claim of convention priority-->
@code {
    private List<ClaimConventionProperty> claimingConventionPriorities = new List<ClaimConventionProperty>();
    private async Task StoreAndResetForm()
    {
        // Store CCPInfo data
        _dbContext.ClaimConventionProperty.Add(CCPInfo);
        await _dbContext.SaveChangesAsync();

        // Reset the form data
        CCPInfo = new ClaimConventionProperty();
    }

    private async Task AddBatch()
    {
        // Add a new ClaimConventionProperty to your list or collection
        claimingConventionPriorities.Add(new ClaimConventionProperty());

        // Call the method to store data and reset the form
        await StoreAndResetForm(); // Waiting for the asynchronous method to complete
    }
    
}

<!--for submit preview button with modal-->
@code{
    
    public bool IsOuterDialogVisible { get; set; } = false;
    public bool IsInnerDialogVisible { get; set; } = false;

    public void OpenOuterDialog()
    {
        IsOuterDialogVisible = true;
    }

    public void OpenInnerDialog()
    {
        IsInnerDialogVisible = true;
    }

    public void CloseInnerDialog()
    {
        IsOuterDialogVisible = false;
        IsInnerDialogVisible = false;
    }
}

<!--for type of applicant; able/disable-->
@code{
    private string? stringChecked = null;
    bool isIndividualSelected = false;
    void ToggleApplicantType(bool isIndividual)
    {
        isIndividualSelected = isIndividual;
    }
}


<!--entity modal-->
@code{
    public class CompanyEntity
    {
        public string ID { get; set; }
        public string EntityName { get; set; }
    }
    private List<CompanyEntity> companyEntity = new List<CompanyEntity>() 
    {
        new CompanyEntity(){ ID = "1", EntityName = "Big Entity" },
        new CompanyEntity(){ ID = "2", EntityName = "Small Entity" },
     };
}

<!--for Goods and Services-->
@code{
    private List<GoodsClass> goodsinformation = new List<GoodsClass>();
    private void RetrievedGoodsClass()
    {
        goodsinformation = _goodsclassrepository.GetGoodsClass();
    }

    private List<ServicesClass> servicesinformation = new List<ServicesClass>();
    private void RetrievedServicesClass()
    {
        servicesinformation = _servicesclassrepository.GetServicesClass();
    }

    

    
    
}

<!--country, state, city dropdown cascading-->
@code {
    private List<Countries> countries;
    private List<States> filteredStates;
    private List<Cities> filteredCities;
    private int selectedCountryId; //selected country id
    private int selectedStateId; //Selected state id

    protected override void OnInitialized()
    {
        countries = _countriesrepository.GetCountries();
        UpdateFilteredStates(null); // Fetch states initially
        UpdateFilteredStatesRA(null); // Fetch states initially
    }

    private void UpdateFilteredStates(Microsoft.AspNetCore.Components.ChangeEventArgs e)
    {
        if (e != null)
        {
            selectedCountryId = Convert.ToInt32(e.Value);
        }
        filteredStates = _statesrepository.GetStatesByCountryId(selectedCountryId);
        // Reset selected state and cities when country changes
        selectedStateId = 0;
        filteredCities = new List<Cities>();
    }

    private void UpdateFilteredCities(Microsoft.AspNetCore.Components.ChangeEventArgs e)
    {
        selectedStateId = Convert.ToInt32(e.Value);
        filteredCities = _citiesrepository.GetCitiesByStateId(selectedStateId);
    }

    private int selectedCityId; // Selected city id

    private void UpdateSelectedCity(Microsoft.AspNetCore.Components.ChangeEventArgs e)
    {
        selectedCityId = Convert.ToInt32(e.Value);
    }

}

@code {
    private int selectedCountryIdRA; //selected country id
    private int selectedStateIdRA; //Selected state id

    private void UpdateFilteredStatesRA(Microsoft.AspNetCore.Components.ChangeEventArgs e)
    {
        if (e != null)
        {
            selectedCountryIdRA = Convert.ToInt32(e.Value);
        }
        filteredStates = _statesrepository.GetStatesByCountryId(selectedCountryId);
        // Reset selected state and cities when country changes
        selectedStateIdRA = 0;
        filteredCities = new List<Cities>();
    }

    private void UpdateFilteredCitiesRA(Microsoft.AspNetCore.Components.ChangeEventArgs e)
    {
        selectedStateIdRA = Convert.ToInt32(e.Value);
        filteredCities = _citiesrepository.GetCitiesByStateId(selectedStateId);
    }

    private int selectedCityIdRA; // Selected city id

    private void UpdateSelectedCityRA(Microsoft.AspNetCore.Components.ChangeEventArgs e)
    {
        selectedCityIdRA = Convert.ToInt32(e.Value);
    }

}
