@page "/test"
@using Trademark2024.Data
@using Trademark2024.Services
@using Trademark2024.Shared.Enum
@using Trademark2024.Interface

@inject AppDbContext dbContext
@inject HttpClient Http
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Forms
@using System.Collections.Generic
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Inputs
@using System.ComponentModel.DataAnnotations
@using System.Threading.Tasks
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.SplitButtons
@using Syncfusion.Blazor.Cards
@using Syncfusion.Blazor.Popups

@inject AppDbContext _dbContext
@inject NavigationManager NavigationManager
@inject ITrademarkInformationRepository _trademarkInformationrepository
@inject IApplicantInformationRepository _applicantInformationrepository

@inject ICountriesRepository _countriesrepository
@inject IStatesRepository _statesrepository
@inject ICitiesRepository _citiesrepository
@inject INationalitiesRepository _nationalityrepository

@inject IGoodsClassRepository _goodsclassrepository
@inject IServicesClassRepository _servicesclassrepository

@inject IJSRuntime jsRuntime
@inject NavigationManager NavigationManager


<div class="col form-txt">
    <label>Country of Residence</label>
    <select @onchange="UpdateFilteredStates" class="form-control" Placeholder="Select Country Residence">
        @foreach (var country in countries)
        {
            <option value="@country.Id">@country.CountryName</option>
        }
    </select>
</div>

<div class="col form-txt">
    <label>State/Province</label>
    <select @onchange="UpdateFilteredCities" class="form-control">
        @foreach (var state in filteredStates)
        {
            <option value="@state.Id">@state.StateName</option>
        }
    </select>
</div>

<div class="col form-txt">
    <label>City</label>
    <select class="form-control">
        @foreach (var city in filteredCities)
        {
            <option>@city.CityName</option>
        }
    </select>
</div>

@code {
    private List<Countries> countries;
    private List<States> filteredStates;
    private List<Cities> filteredCities;
    private int selectedCountryId; //selected country id
    private int selectedStateId; //Selected state id

    protected override void OnInitialized()
    {
        countries = _countriesrepository.GetCountries();
        UpdateFilteredStates(null); // Fetch states initially
    }

    private void UpdateFilteredStates(Microsoft.AspNetCore.Components.ChangeEventArgs e)
    {
        if (e != null)
        {
            selectedCountryId = Convert.ToInt32(e.Value);
        }
        filteredStates = _statesrepository.GetStatesByCountryId(selectedCountryId);
        // Reset selected state and cities when country changes
        selectedStateId = 0;
        filteredCities = new List<Cities>();
    }

    private void UpdateFilteredCities(Microsoft.AspNetCore.Components.ChangeEventArgs e)
    {
        selectedStateId = Convert.ToInt32(e.Value);
        filteredCities = _citiesrepository.GetCitiesByStateId(selectedStateId);
    }
}
